 body {
    overflow-x: hidden;
	background-color: #1e1e33;
	color: #eee;
 }

a, a:focus, a:hover, table, th{
	color: #eee;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover{
	background-color: #456587;
	color: #eee;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
	border: 1px solid #456587;
}

.nav-tabs.nav-justified>li>a{
	border-bottom: 1px solid #456587;
}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: #39496b;
	color: #eee;
}

.nav-tabs>li>a:hover {
	border-color: #39496b;
}

.table-striped>tbody>tr:nth-of-type(odd){
	background-color: #456587;
	cursor: pointer;
}

.table .table {
	background-color: #39496b;
	color: #eee;
	border-radius: 0 0 5px 5px;
}

.table .table .saleRow{
	border-top: solid 1px #1e1e33;
}

.table>thead>tr>th {
	border-bottom: 2px solid #39496b;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top: 1px solid #39496b;
	vertical-align: middle;
}

.tab-content {
	border-left: 1px solid #456587;
	border-right: 1px solid #456587;
	border-bottom: 1px solid #456587;
	padding: 10px;
}

.nav-tabs {
	margin-bottom: 0;
}

.btn-custom{
    background-color: #456587;
	border: solid 1px #39496b;
    border-radius: 5px;
	color: #eee;
	cursor: pointer;
	padding: 5px;
}

.btn-custom:hover, .btn-custom:focus{
	background-color: #39496b;
}

.btn-custom-tabs{
    background-color: #39496b;
	border: solid 1px #1e1e33;
    border-radius: 5px;
	color: #eee;
	cursor: pointer;
	padding: 5px;
	text-align: center;
	width: 60px;
}

.btn-custom-tabs:hover, .btn-custom-tabs:focus{
	background-color: #1e1e33;
}

.hamburger {
	margin: 5px 0;
	width: 44px;
	height: 34px;
	cursor: pointer;
	transition: transform .3s ease-in-out;
	vertical-align: middle;
	border: 0 none;
	background-color: #5ed5db;
	border-radius: 0 5px 5px 0;
}

/**
 * Focus fix for Chrome
 */
.hamburger:focus {
	outline: 0;
}

.hamburger:before,
.hamburger:after {
	content: "";
}

.hamburger:before,
.hamburger .icon,
.hamburger:after {
	display: block;
	width: 22px;
	height: 3px;
	margin: 3px auto 3px auto;
	transition: transform .3s ease-in-out;
	background: #456587;
}

.hamburger.active .icon {
	transform:  rotateY(180deg);
}

.hamburger.active:before {
	transform: translate(-7px, 2px) rotate(135deg) scaleX(0.65);
}

.hamburger.active:after {
	transform: translate(-7px, -2px) rotate(-135deg) scaleX(0.65);
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #5ed5db;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    /* padding: 15px; */
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 39px 0 0 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 60px;
	font-size: 20px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #1e1e33;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        /* padding: 20px; */
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}