.product{
	width: 100%;
    background-color: #456587;
    border-radius: 5px;
	border: solid 1px #39496b;
    padding: 5px;
	margin: 10px 0;
	text-align: center;
	cursor: pointer;
	color: #eee;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size: 16px;
}

.product:hover, .product:focus{
	background-color: #39496b;
}

.cartHeader{
	padding: 9.33px 0 !important;
}

.nav{
	margin-bottom: 10px !important;
}

#cart{
	color: #eee;
}

#cartTotal{
	color: #eee;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	border-top: 2px solid #39496b;
	border-bottom: 2px solid #39496b;
	margin-bottom: 15px;
}

.cartButtons{
	text-align: center;
}

.cartButton{
	width: 90%;
}

.itemsTab{
	overflow-y: auto;
}

.tab-content{
	border: 1px solid #456587;
	padding: 10px;
}

.cartItem{
	cursor: pointer;
}

#scrollCart{
	overflow-y: auto;
}