<html>
<head>
	
		<title>Bar POS{% if title %} - {{ title }}{% endif %}</title>
	
		<link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
	{% block css %}
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/static/css/common.css">
	{% endblock %}

</head>
<body>
	
	<div id="wrapper">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li>
					<a href="/">Transactions</a>
				</li>
				<li>
					<a href="/tabs">Manage Tabs</a>
				</li>
				<li>
					<a href="/sales">Browse Sales</a>
				</li>
				<li>
					<a href="/admin">Administration</a>
				</li>
			</ul>
		</div>
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<button id="hamburger" class="hamburger">
				<span class="icon"></span>
			</button>
			{% block content %}{% endblock %}
		</div>
	</div>
	{% block javascript %}
		<script src="/static/js/jquery-3.2.1.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/common.js"></script>
	{% endblock %}
</body>
</html>

