{% extends "base.html" %}
{% block css %}
	{{ super() }}
	<link rel="stylesheet" href="/static/css/sales.css">
{% endblock %}
{% block javascript %}
	{{ super() }}
	<script src="/static/js/validator.min.js"></script>
	<script src="/static/js/sales.js"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs nav-justified" role="tablist" id="tabs">
				<li role="presentation"><a href="#browseByDateTab" aria-controls="browseByDateTab" role="tab" data-toggle="tab">Browse By Date</a></li>
				<!-- <li role="presentation"><a href="#somethingElseTab" aria-controls="somethingElseTab" role="tab" data-toggle="tab">Something Else</a></li> -->
			</ul>
			<div class="tab-content" id="tab-contents">
				<div role="tabpanel" class="tab-pane fade contentTab" id="browseByDateTab">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								{% if total != 0 %}
									<table class="table table-striped" style="border-collapse:collapse;">
										<tbody>
											<tr>
												<th style="cursor: auto;">Products sold between {{ fromDate.strftime('%d/%m/%y') }} and {{ toDate.strftime('%d/%m/%y') }} totaling &pound;{{ '%0.2f' %(total/100) }}</th>
											</tr>
											<tr>
												<td class="hiddenRow">
													<div class="container-fluid">
														<table class="table">
															<thead>
																<tr>
																	<td>Product</td>
																	<td>Price Single</td>
																	<td>Quantity</td>
																	<td>Price Total</td>
																</tr>
															<thead>
															<tbody>						
																{% for itemName, priceQuantities in items|dictsort %}{# because dictsort does something funny #}
																	{% for priceQuantity in priceQuantities %}
																		<tr>
																			{% if loop.first %}
																				<td class="saleRow">
																					{{ itemName }}
																				</td>
																			{% else %}
																				<td></td>
																			{% endif %}
																			<td {% if loop.first %} class="saleRow" {% endif %}>
																				&pound;{{ '%0.2f' %(priceQuantity['price']/100) }}
																			</td>
																			<td {% if loop.first %} class="saleRow" {% endif %}>
																				{{ priceQuantity['quantity'] }}
																			</td>
																			<td {% if loop.first %} class="saleRow" {% endif %}>
																				&pound;{{ '%0.2f' %((priceQuantity['price']*priceQuantity['quantity'])/100) }}
																			</td>
																		</tr>
																	{% endfor %}
																{% endfor %}
															</tbody>
														</table>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								{% else %}
									<form class="form-horizontal" data-toggle="validator">
										<div class="form-group">
											<label for="fromDate" class="col-sm-2 control-label">Show sales from</label>
											<div class="col-sm-9">
												<input type="date" class="form-control" id="fromDate" placeholder="01/01/2017" required>
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="form-group">
											<label for="toDate" class="col-sm-2 control-label">Show sales to</label>
											<div class="col-sm-9">
												<input type="date" class="form-control" id="toDate" placeholder="31/03/2017" required>
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-2 col-sm-9">
												<button id="getSalesButton" type="submit" class="btn btn-custom" onclick="getSales(event, $(this))">Go!</button>
											</div>
										</div>
									</form>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<!-- <div role="tabpanel" class="tab-pane fade contentTab" id="somethingElseTab"> -->
					<!-- How else would you want to see sales? -->
				<!-- </div> -->
			</div>
		</div>
	</div>
</div>
{% endblock %}