{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped" style="border-collapse:collapse;">
				<thead>
					<tr>
						<th>Tab</th>
						<th>Value</th>
						<th>Options</th>
					</tr>
				</thead>
				<tbody>
					{% for tab in tabs %}
						<tr data-toggle="collapse" data-target=".{{ tab }}">
							<th>{{ tab }}</th>
							<th>&pound;{{ '%0.2f' %(tabs[tab]['value']/100) }}</th>
							<th><button class="btn btn-success" type="button" onclick="payTab('{{ tab }}')">Pay</button></th>
						</tr>
						<tr>
							<td colspan="3"  class="hiddenRow">
								<div class="container-fluid collapse {{ tab }}">
									<table class="table">
										<thead>
											<tr>
												<td>Sale Time</td>
												<td>Product</td>
												<td>Price</td>
											</tr>
										<thead>
										<tbody>											
											{% for sale in tabs[tab]['sales'] %}
												{% for saleItem in sale.items %}
													<tr>
														<td>
															{% if loop.first %}
																{{ sale.time.strftime('%d/%m/%y - %H:%M') }}
															{% endif %}
														</td>
														<td>{{ saleItem.quantity }} &times; {{ saleItem.name }}</td>
														<td>&pound;{{ '%0.2f' %(saleItem.price_total/100) }}</td>
													</tr>
												{% endfor %}
											{% endfor %}
										</tbody>
									</table>
								</div>
							</td>
						</tr>
					{% endfor%}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}