{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-9">
			<ul class="nav nav-tabs nav-justified" role="tablist" id="tabs">
				{% for category in categories %}
					<li role="presentation"><a href=#{{ category.name }} aria-controls={{ category.name }} role="tab" data-toggle="tab">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
			<div class="tab-content" id="tab-contents">
				{% for category in categories %}
					<div role="tabpanel" class="tab-pane fade itemsTab" id={{ category.name }}>
						<div class="container-fluid">
							<div class="row">
								{% for item in category.items %}
									{% if item.on_sale %}
										<div class="col-md-2">
											<div class="product" onclick=addToCart({{ item.id }}) id={{ item.id }} data-name={{ item.name }} data-price={{ item.price }}>
												{{  item.name }}</br>&pound;{{ '%0.2f' %(item.price/100) }}
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-3">
			<div id="scrollCart">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th class="cartHeader">Product</th>
						<th class="cartHeader">Price</th>
					</tr>
				</thead>
				<tbody id="cart">
				
				</tbody>
			</table>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12" id="cartTotal">
						Total: &pound;0.00
					</div>
				</div>
				<div class="row cartButtons">
					<div class="col-md-6">
						<div type="button" class="btn-custom cartButton" onclick="completeSale()">Paid</div>
					</div>
					<div class="col-md-6">
						<div type="button" class="btn-custom cartButton" onclick="toTab()">Tab</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
{% endblock %}